{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Control Panel{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.0/css/font-awesome.min.css" crossorigin="anonymous">
    {% block stylesheets %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" >
      <a class="navbar-brand" href="#">
        <img src="/assets/img/logo-petcube-text.png" alt="Petcube  - The Smartest Pet Cameras" class="d-inline-block">
      </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
          <ul class="nav navbar-nav navbar-right">
            {% if app.user %}
              <li><a class="nav-link" href="{{ path('logout') }}"><i class="fa fa-sign-out"></i> Logout</a></li>
            {% else %}
              <li><a class="nav-link" href="{{ path('login') }}"><i class="fa fa-btn fa-sign-in"></i> Login</a></li>
              <li><a class="nav-link" href="{{ path('registration') }}"><i class="fa fa-btn fa-user"></i> Register</a></li>
            {% endif %}
          </ul>
    </nav>
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
  </body>
</html>